@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --max-width: 1140px;
  --accent-blue: #3333ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #252525;
}

main {
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: var(--accent-blue);
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 90%;
}

p {
  font-size: 80%;
  line-height: 1.56;
}

footer {
  background: #efefef;
  padding: 10px 0;
  text-align: center;
}

footer p {
  font-size: 70%;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.section {
  border-bottom: 1px solid #e3e3e3;
  padding-top: 2%;
  padding-bottom: 20px;
}

.section:last-of-type {
  padding-bottom: 40px;
}

.section-container {
  display: flex;
}

.section-title-side {
  flex: 1;
}

.section-content-side {
  flex: 2;
  padding-left: 40px;
}

.content-side-item {
  margin-bottom: 20px;
}

.content-side-item p {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}

.with-full-stop::after {
  content: ".";
  font-size: inherit;
  color: var(--accent-blue);
}

.alert-box {
  --alert-box-padding: 20px;
  position: fixed;
  left: var(--alert-box-padding);
  bottom: var(--alert-box-padding);
  background: var(--accent-blue);
  color: #fff;
  border-radius: 3px;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 90%;
  opacity: 0.8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transform: translateX(-200%);
  transition: transform 300ms ease-in-out;
}

.alert-show {
  transform: translateX(0);
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 2px;
  font-size: 60%;
  transition: box-shadow 200ms ease;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.primary-btn {
  background: var(--accent-blue);
  color: #fff;
}

.secondary-btn {
  color: inherit;
  background: #efefef;
}

/*------------ Media Query ------------*/
@media screen and (max-width: calc(1140px * 1.05)) {
  .container {
    padding: 0 2%;
  }
}

@media screen and (max-width: 940px) {
  .container {
    padding: 0 18px;
  }

  .section:nth-child(2n) {
    background: #fafafa;
  }

  .section-container {
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }

  .section-content-side {
    padding-left: 0;
  }

  .content-side {
    margin-top: 20px;
  }

  .btn:hover {
    box-shadow: none;
  }
}
